.confirm-container {
    text-align: center;
    margin-top: 5rem;

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem;
        color: $grey;
    }
    
    .toOrder {
        margin-top: 2rem;
        font-size: 2rem;
        color: $blue;
        cursor: pointer;
    }
}